{% extends 'base.html' %}
{% block title %}Chore Details{% endblock %}

{% block primary %}

<h1>{{chore}}</h1>
<p><b>Due Date:</b> {{chore.due_date}}</p>

<form action="/chores/{{chorelist.id}}/chores/{{chore.id}}/update/" method="post">
    {% csrf_token %}
    <label for="complete"><b>Is Complete</b></label>
    {% if chore.complete %}
        <input type="checkbox" name="complete" id="complete" checked>
    {% else %}
        <input type="checkbox" name="complete" id="complete">
    {% endif %}
    <br><br>
    <input type="submit" value="Update">
</form>
<br>
<a href="/chores/{{chorelist.id}}/">Back</a> | <a href="/chores/{{chorelist.id}}/chores/{{chore.id}}/delete/">Delete</a>
{% endblock %}