{% extends 'base.html' %}
{% block title %}ChoreList Details{% endblock %}

{% block primary %}

<h1>{{chorelist}}</h1>
<p><b>Due Date:</b> {{chorelist.due_date}}</p>
<a href="/chores/{{chorelist.id}}/delete/">Delete</a>

<form action="/chores/{{chorelist.id}}/" method="post">
    {% csrf_token %}
    <fieldset>
      <legend><h2>Create a New Chore</h2></legend>
      <label for="name">Chore Name</label>
      <input type="textbox" name="name" id="name" placeholder="Enter a Name" required>
      <br><br>
      <label for="duedate">Due Date</label>
      <input type="datetime-local" name="duedate" id="duedate" placeholder="yyyy-mm-dd hh:mm" required />
      <br><br>
      <input type="submit" value="Create">
    </fieldset>
</form>

{% if chorelist.chore_set.all %}
  <ul>
    {% for chore in chorelist.chore_set.all %}
      <li><a href="/chores/{{chorelist.id}}/chores/{{chore.id}}">{{chore}}</a></li>
    {% endfor %}
  </ul>
  
{% else %}
  <p>No Chores are Currently associated with #{{chorelist}}</p>
{% endif %}


{% endblock %}