{% extends 'base.html' %}
{% block title %}New ChoreList{% endblock %}

{% block primary %}

<form action="/chores/newlist/" method="post">
    {% csrf_token %}
    <fieldset>
      <legend><h1>New Chorelist</h1></legend>
      <label for="name">List Name</label>
      <input type="textbox" name="name" id="name" placeholder="Enter a Name" required>
      <br><br>
      <label for="duedate">Due Date</label>
      <input type="datetime-local" name="duedate" id="duedate" placeholder="yyyy-mm-dd hh:mm" required />
      <br><br>
      <input type="submit" value="Create">
    </fieldset>
</form>

{% endblock %}